@charset "ISO-8859-1";

body {
	background-color: #f8f9fa;
}

.verification-container {
	max-width: 500px;
	margin: auto;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	margin-top: 100px;
}

.form-group {
	margin-bottom: 20px;
}

.btn-verify {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 4px;
}

.btn-verify:hover {
	background-color: #0056b3;
}

.error-message {
	color: red;
	margin-bottom: 15px;
	text-align: center;
}