<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <!-- Bootstrap CSS (example) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/output.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container login-container">
        <h2 class="text-center">Sign In</h2>
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>
        <form th:action="@{/LoginPage}" method="post" class="login-form">
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-success btn-block">Submit</button>
        </form>
        <p class="forgot-password-link">
            <a th:href="@{/forgot-password/email-Verification}">Forgot Password?</a>
        </p>
        <p class="text-center">Don't have an account? <a th:href="@{/signup}">Register</a></p>
    </div>
</body>
</html>
